:root {
	--yellow: hsl(44, 100%, 61%);
	--dark-grey: #4c4c4c;
	--medium-grey: #6d6e76;
	--dark-purple: #232536;
	--purple: #592ea9;
	--light-yellow: #fbf6ea;
	--light-grey: #babbc2;
	--lavender: #f4f0f8;
	--light: #fff;
	--border: 1px solid rgba(0, 0, 0, 0.125);
}
