.about {
	margin-bottom: clamp(4rem, 10%, 8rem);

	&__container {
		position: relative;
		background: var(--lavender);
		padding: clamp(0.7em, 7%, 5.5em) clamp(0.5em, 6%, 5em);

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1px auto;
		gap: 2em;
		@media (min-width: 767.98px) {
			grid-template-columns: 1fr 1px 1fr;
			grid-template-rows: auto;
			gap: 3.7em;
		}
	}
	&__border-top {
		--border-height: 1em;
		position: absolute;
		left: 0;
		top: calc(-1 * var(--border-height));
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		div {
			display: inline-block;
			height: var(--border-height);
			&:nth-child(1) {
				background: var(--light);
			}
			&:nth-child(2) {
				background: var(--yellow);
			}
			&:nth-child(3) {
				background: var(--purple);
			}
		}
	}
	&__divider {
		background: rgba(0, 0, 0, 0.125);
	}
	&__text {
		font-weight: 700;
		color: var(--medium-grey);
		&-main {
			margin-bottom: 1em;
		}
		&-secondary {
			font-size: 0.875rem;
		}
	}
	&__label {
		margin-bottom: 1.5em;
	}
	&__header {
		margin-bottom: 1em;
	}
	&__link {
		color: var(--purple);
		font-weight: 700;
		text-decoration: none;
		font-size: 1.125rem;
	}
}

h2.about__header {
	font-size: 2rem;
}
