.categories {
	margin-bottom: clamp(4rem, 10%, 8rem);
	&__container {
		display: grid;
	}
	&__header {
		text-align: center;
		margin-bottom: 3rem;
	}

	&__list {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-auto-flow: row dense;
		gap: 1.8em;
	}
	a {
		color: var(--black);
	}
	&__item {
		background-color: var(--white);
		border: var(--border, 1px solid rgba(0, 0, 0, 0.125));
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
		overflow: hidden;
		padding: 2em;
		@media (max-width: 575.98px) {
			padding: 1.75em;
		}
	}
	&__img {
		width: 3rem;
		height: 3rem;
		background-color: var(--light-yellow);
		display: grid;
		place-items: center;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.25em;
	}
}
