.list {
	margin: 2rem 0;
	&__items-wrapper {
		margin-top: 1rem;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		gap: 1rem;
		color: var(--dark-purple);
	}
	&__item {
		padding: 1rem;
		color: var(--dark-purple);
		border: var(--border, 1px solid rgba(0, 0, 0, 0.125));
		&-text {
			color: var(--dark-purple);
			font-size: 1.1rem;
			margin-bottom: 2rem;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 4; /* number of lines to show */
			line-clamp: 4;
			-webkit-box-orient: vertical;
		}
		&-title {
			color: var(--dark-purple);
		}
		&-link {
			color: var(--dark-purple);

			&:hover {
				color: var(--purple);
			}
		}
		.signature {
			margin-bottom: 0.5rem;
			color: var(--dark-purple);
		}
	}
}
