.posts {
	margin-bottom: clamp(4rem, 10%, 8rem);
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
		gap: 2rem;
		@media (max-width: 575.98px) {
			grid-template-columns: 1fr;
			// grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		}
	}
	&__label-wrapper {
		align-self: flex-start;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		@media (max-width: 767.98px) {
			margin-bottom: 1.5rem;
		}
	}
	&__featured,
	&__all {
		display: grid;
		grid-template-rows: auto;
		grid-auto-rows: 1fr;
		@media (max-width: 575.98px) {
			grid-auto-rows: auto;
		}
	}
	&__all .posts__label-wrapper {
		@media (max-width: 884.98px) {
			margin-bottom: 0;
		}
	}
}
