.single {
	.post {
		padding: 2rem 0 0;
		border: none;
		&__img {
			max-width: 50%;
			margin: 0 auto 2rem;
			border: var(--border, 1px solid rgba(0, 0, 0, 0.125));
			padding: 0.5rem;
			height: 320px;
			width: 800px;
			max-width: 90%;
		}
		&__text {
			margin: 0;
		}
	}
}
