.special {
	margin-bottom: clamp(4rem, 10%, 8rem);
	&__container {
		display: grid;
		align-items: start;
		grid-template-rows: 7.5rem auto;
		grid-template-columns: 4fr 3fr 1fr;
		@media (max-width: 1023.98px) {
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 2.5rem auto;
		}
		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;
			grid-template-rows: unset;
			border: var(--border, 1px solid rgba(0, 0, 0, 0.125));
			box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
		}
	}
	&__img {
		grid-row: 1 / 3;
		grid-column: 1 / 3;
		@media (max-width: 767.98px) {
			grid-row: unset;
			grid-column: unset;
			justify-self: center;
			padding: 3em 3em 0;
		}
		img {
			filter: brightness(60%);
			z-index: 1;
			height: 100%;
			max-height: 47rem;
			@media (max-width: 767.98px) {
				max-height: 21rem;
			}
		}
	}
	&__post {
		z-index: 10;
		background-color: var(--light);
		border: var(--border, 1px solid rgba(0, 0, 0, 0.125));
		box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
		grid-row: 2 / 3;
		grid-column: 2 / 4;
		padding: clamp(3em, 11%, 4em);
		@media (max-width: 1023.98px) {
			padding: 3em;
			grid-column: 2 / 3;
		}
		@media (max-width: 767.98px) {
			grid-column: unset;
			grid-row: unset;
			border: none;
			background-color: unset;
			box-shadow: none;
			padding: 2em;
		}
		@media (max-width: 575.98px) {
			padding: 1.75em;
		}
	}
	&__label {
		color: var(--medium-grey);
		margin-bottom: 1.5rem;
		@media (max-width: 767.98px) {
			margin-bottom: 1rem;
		}
	}
	&__header {
		margin-bottom: 1rem;
	}
	&__text {
		margin-bottom: 2rem;
		color: var(--medium-grey);
	}
	&__link {
		display: inline-block;
		color: var(--primary);
		background: var(--yellow);
		padding: 0.89em 2.66em;
		font-size: 1.125rem;
		font-weight: 700;

		@media (max-width: 425.98px) {
			text-align: center;
			width: 100%;
		}

		@media (max-width: 374.98px) {
			padding: 0.89em 2em;
		}
	}
}
