.testimonials {
	margin-bottom: clamp(4rem, 10%, 8rem);

	&__text {
		font-weight: 400;
	}
	&__title {
		margin-bottom: 3rem;
		text-align: center;
		@media (max-width: 767.98px) {
			margin-bottom: 2rem;
			font-size: 2rem;
		}
		@media (max-width: 575.98px) {
			font-size: 1.8rem;
		}
	}
	&__author {
		&-wrapper {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 1rem;
		}
		&-name {
			font-size: 1.5rem;
			text-align: end;
			font-weight: 700;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 1rem;
		}
		&-img {
			font-size: 0.7rem;
			flex-shrink: 0;
			height: 3rem;
			width: 3rem;
			object-fit: cover;
			border-radius: 50%;
			object-position: 50% 28%;
		}
	}
	&__text {
		font-size: 1.1rem;
		margin-bottom: 2rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 4; /* number of lines to show */
		line-clamp: 4;
		-webkit-box-orient: vertical;
	}

	&__slider-wrapper {
		background-color: var(--light-yellow);
		padding: clamp(2rem, 7%, 4.5rem) clamp(1rem, 11%, 7rem);
		border-radius: 12px;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	}
}
